{% extends 'main.html'%}
{% load sass_tags %}
{% load static %}
{% block content %}

<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">

                {% include "post/post_card.html" with posts=posts %}

                {% include "post/pagination.html" with page=posts %}
            </div>

            <div class="col">
               
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->

{% endblock content%}