{% extends 'main.html' %}
{% load static %}

{% block content %}


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="{{post.image.url}}" style="object-fit: cover;">
                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">{{post.tag}}</a>
                            <a class="text-body" href="">{{post.publish|date}}</a>
                        </div>
                        <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{post.title}}</h1>
                        <p>{{post.content|safe}}</p>
                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                            <span>{{post.author}}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span>
                            <span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->

                <!-- Comment List Start -->
                {% include "post/comment_list.html" with post=post %}
                <!-- Comment List End -->

                {% include "post/comment_form.html" with post=post %}
            </div>

            <div class="col-lg-4 ">
                <!-- Social Follow Start -->
                {% include "post/social_follow.html"%}
                <!-- Social Follow End -->

                <!-- Popular News Start -->
                {% include "post/popular_news.html" %}
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                {% include "post/news_letter.html" %}
                <!-- Newsletter End -->

            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->

{% endblock content %}